.agents {
    color: inherit;
}

.agents a {
    color: inherit;
    text-decoration: none;
    font-size: 14pt;
}

.agents .agent a:hover {
    text-decoration: underline;
}

.agents .agent {
    margin-bottom: 10px;
}

.agents button {
    margin-top: 20px;
}
