.evaluate {
    display: flex;
    width: 100%;
}

.evaluate .agents-table {
    margin-top: 40px;
}

.evaluate .agents-table, .evaluate .MuiDataGrid-root,
.evaluate .MuiTablePagination-root {
    color: #fff;
    border: none;
}

.evaluate button, .evaluate svg {
    color: #fff;
}

.evaluate .agents-table .MuiDataGrid-cell {
    border: none;
    outline: none;
}

.evaluate .agents-table .MuiDataGrid-columnSeparator {
    display: none;
}

.evaluate .MuiDataGrid-footerContainer {
    border-top: none;
}

.evaluate .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    background: none;        /* color of the tracking area */
    width: 6px;
}

.evaluate .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: #fff;        /* color of the tracking area */
    width: 10px;
    border-radius: 8px;
}

.evaluate .details input, .evaluate .details label,
.evaluate .details svg, .evaluate .details select,
.evaluate .details .MuiSelect-select {
    color: #fff;
}

.evaluate .details input, .evaluate .details .MuiOutlinedInput-root {
    border-color: #fff;
    background: #323232;
    border-radius: 4px;
}

.evaluate .details .control {
    margin-top: 40px;
    width: 100%;
}

.evaluate .details .control .MuiFormControl-root {
    width: 100%;
}

.evaluate .summary {
    display: flex;
    flex-direction: column;
}

.evaluate .summary .details {
    flex: auto;
}

.evaluate .summary .Mui-disabled {
    color: #666;
}
