.evaluate {
    display: flex;
    width: 100%;
}

.evaluate .agents-table {
    margin-top: 40px;
}

.evaluate .agents-table, .evaluate .MuiDataGrid-root,
.evaluate .MuiTablePagination-root {
    color: #fff;
    border: none;
}

.evaluate button, .evaluate svg {
    color: #fff;
}

.evaluate .agents-table .MuiDataGrid-cell {
    border: none;
    outline: none;
}

.evaluate .agents-table .MuiDataGrid-columnSeparator {
    display: none;
}

.evaluate .MuiDataGrid-footerContainer {
    border-top: none;
}

.evaluate .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    background: none;        /* color of the tracking area */
    width: 6px;
}

.evaluate .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: #fff;        /* color of the tracking area */
    width: 10px;
    border-radius: 8px;
}

