.navbar-item {
    width: 100%;
    height: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.navbar-item.active, .navbar-item.active:hover {
    background: linear-gradient(101.05deg, #1F8EBE -5.36%, #440495 29.46%, #440495 56.03%, #B102CD 81.92%);
}

.navbar-item:hover {
    background: rgba(0,0,0,.2);
    text-decoration: none;
}

.navbar-item:visited, .navbar-item:active, .navbar-item:focus {
    text-decoration: none;
    color: inherit;
    color: #fff;
}

a:active, a:visited, a {
    text-decoration: none;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 20px 0 20px;
}
