.train, .test {
    display: flex;
    width: 100%;
}

.train .right-space {

}

.train .settings {
    margin-top: 40px;
    color: #fff;
}

.train .settings input, .train .settings label,
.train .settings svg, .train .settings select,
.train .settings .MuiSelect-select {
    color: #fff;
}

.train .settings input, .train .settings .MuiOutlinedInput-root {
    border-color: #fff;
    background: #323232;
    border-radius: 4px;
}

.train .settings .MuiFormControl-root {
}

.train .settings .group {
    max-width: 600px;
    margin-bottom: 40px;
}

.train .settings .group {
    display: flex;
    justify-content: space-between;
}

.train .assets {
    margin-top: 40px;
}
